body{
	background-image: url("background.jpg");
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/	
	background-repeat: no-repeat;
	padding:0;

}
