
@font-face
{
	font-family: art;
    src: url(art.ttf);

}

body
{
	background-color: #F3E5AB;
	font-family: art;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}