{% extends "base.html" %}

{% block title %}





{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/about.css">
{% endblock %}

{% block content %}

<div class="text">
<h5> ARTiculate is a social platform where people can upload and paint pictures regarding recent political events.
The idea is to create a healthy discussion on the political subjects as posted in pictures. Thus we aim to create
an objective platform in which various perspectives will be heard and presented. The choice of art was not random,
it was chosen as a source of attraction to our website, as well as a universal element of communication, with no boundaries of nationality, language or anything else.</h5>
</div>

<div class="vision p-x-2 p-y-2"><h1 style="color:#a50000;"><b>Our Vision</b></h1><br>
<h5> We envision a world where all voices are heard in order to build a society that is self-aware, exposed, and understands all perspectives.</h5>
</div>

<div class= "mission p-x-2 p-y-2">
<h1 style="color:#a50000;"><b>Our Mission</ARTb></h1><br>
<h5> Our mission is to create a circle of communication, established on the common ground of art, fulfilling tolerance and understanding towards all of its members. </h5>
</div>

<div class="team">
<h1 style="color: #a50000;"><b>The Team</b></h1>
</div>

<div class="about_us">
 <img src="{{ url_for('static', filename= 'aboutuslogo.jpg')}}"" class="img-rounded" alt="Cinque Terre" width="300" height="50">
</div>

<div class="berge">
  <img src="{{ url_for('static', filename= 'berge.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Berge Hagopian </h5>
  <h5 align="right"> Palestinion from Jerusalem </h5>
  <h5 align="right"> Founder </h5>
</div>

<div class="nofar">
  <img src="{{ url_for('static', filename= 'nofar.jpg')}}" class="img-circle" alt="Cinque Terre" width="250"
   height="250">
  <h5 align="right"> Nofar Dvir </h5>
  <h5 align="right"> Israeli from Jerusalem </h5>
  <h5 align="right"> Founder </h5>
</div>

<div class="roni">
  <img src="{{ url_for('static', filename= 'roni.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Roni Varshavsky </h5>
  <h5 align="right"> Israeli from Jerusalem </h5>
  <h5 align="right"> Founder </h5>
</div>

<div class="neta">
  <img src="{{ url_for('static', filename= 'neta.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Neta Ravid </h5>
  <h5 align="right"> Israeli from Jerusalem </h5>
  <h5 align="right"> Founder </h5>
</div>

<div class="ori">
  <img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Ori Ben-Amram </h5>
  <h5 align="right"> Israeli from Jerusalem </h5>
  <h5 align="right"> Founder </h5>
</div>

<div class="hila">
  <img src="{{ url_for('static', filename= 'hila.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Hila Tal </h5>
  <h5 align="right"> Israeli from Jerusalem</h5>
  <h5 align="right"> Cofounder </h5>
</div>


<div class="nethanel">
  <img src="{{ url_for('static', filename= 'nethanel.jpg')}}" class="img-circle" alt="Cinque Terre" width="250" height="250">
  <h5 align="right"> Nathaniel Navarro</h5>
  <h5 align="right"> Israeli from Mevaseret Tzion </h5>
  <h5 align="right"> Cofounder </h5>
</div>
{% endblock %}







{% block navbar %}

<nav class="navbar navbar-dark bg-inverse">
    <a class ="navbar-brand" href="{{url_for('entry')}}"><img src='{{url_for("static",filename="navlogo.png")}}' alt="Articulate logo" height="24"><span class="sr-only">(current)</span></a>

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
      </li>
    </ul>
  </nav>


  {% endblock %}
