{% extends "base.html" %}

{% block title %}


<div class="text">
<h4 > ARTiculate is a plaform where people can share their perspectives through Art bla bla bla </h4>
</div>

<div class="vision p-x-2 p-y-2" style="background-color: #f7f7f7;">
<h1 style="color:#a50000;"><b>Our Vision</b></h1>
<h4> We envision a world where all voices are heard in order to build a society that is self-aware, exposed, and understands all perspectives.</h4>
</div>

<div class= "mission p-x-2 p-y-2" style="background-color: #f7f7f7;">
<h1 style="color:#a50000;"><b>Our Mission</b></h1>
<h4> Our mission is to create a circle of communication, established on the common ground of art, fulfilling tolerance and understanding towards all of its members. </h4>
</div>

<div class="team">
<h1 style="color:#a50000;"><b>The Team</b> </h1>
</div>

{% endblock %}

<style>

div.team {
    position: absolute;
    top: 600px;
    right: 250px;
    width: 500px;
    height: 500px;
}

div.vision {
    position: absolute;
    top: 300px;
    right: 80px;
    width: 500px;
    height: 500px;
}

div.mission {
    position: absolute;
    top: 300px;
    right: 700px;
    width: 500px;
    height: 500px;
}

div.text  {
    position: absolute;
    top: 175px;
    right: 0px;
    width: 1250px;
    height: 400px;
}

div.berge {
    position: absolute;
    top: 700px;
    right: 200px;
    width: 200px;
    height: 100px;
}

div.nofar {
    position: absolute;
    top: 700px;
    right: 600px;
    width: 200px;
    height: 100px;
}

div.roni {
    position: absolute;
    top: 700px;
    right: 1000px;
    width: 200px;
    height: 100px;
}

div.neta {
    position: absolute;
    top: 1150px;
    right: 200px;
    width: 200px;
    height: 100px;
}

div.ori {
    position: absolute;
    top: 1150px;
    right: 600px;
    width: 200px;
    height: 100px;
}

div.hila {
    position: absolute;
    top: 1150px;
    right: 1000px;
    width: 200px;
    height: 100px;
}

div.nethanel {
    position: absolute;
    top: 1600px;
    right: 600px;
    width: 200px;
    height: 100px;
}

div.about_us {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 800px;
    height: 100px;

</style>

{% block content %}

<div class="about_us">
 <img src="{{ url_for('static', filename= 'aboutuslogo.jpg')}}"" class="img-rounded" alt="Cinque Terre" width="300" height="50">
</div>

<div class="berge">
<img src="{{ url_for('static', filename= 'berge.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Berge Hagopian </h4>
<h4 align="right"> Palestinion from Jerusalem </h4>
<h4 align="right"> Founder </h4>
</div>

<div class="nofar">
<img src="{{ url_for('static', filename= 'nofar.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Nofar Dvir </h4>
<h4 align="right"> Israeli from Jerusalem </h4>
<h4 align="right"> Founder </h4>
</div>

<div class="roni">
<img src="{{ url_for('static', filename= 'roni.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Roni Varshavsky </h4>
<h4 align="right"> Israeli from Jerusalem </h4>
<h4 align="right"> Founder </h4>
</div>

<div class="neta">
<img src="{{ url_for('static', filename= 'neta.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Neta Ravid </h4>
<h4 align="right"> Israeli from Jerusalem </h4>
<h4 align="right"> Founder </h4>
</div>

<div class="ori">
<img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Ori Ben-Amram </h4>
<h4 align="right"> Israeli from Jerusalem </h4>
<h4 align="right"> Founder </h4>
</div>

<div class="hila">
<img src="{{ url_for('static', filename= 'hila.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Hila Tal </h4>
<h4 align="right"> Israeli from Jerusalem</h4>
<h4 align="right"> Cofounder </h4>
</div>


<div class="nethanel">
<img src="{{ url_for('static', filename= 'nethanel.jpg')}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
<h4 align="right"> Nathaniel Navarro</h4>
<h4 align="right"> Israeli from Mevaseret Tzion </h4>
<h4 align="right"> Cofounder </h4>

</div>
{% endblock %}







{% block navbar %}

<nav class="navbar navbar-light bg-faded">
    <a class ="navbar-brand" href="{{url_for('entry')}}"><img src='{{url_for("static",filename="navlogo.png")}}' alt="Articulate logo" height="24"><span class="sr-only">(current)</span></a>

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-danger-outline" type="submit">Search</button>
    </form>
  </nav>


  {% endblock %}
