{% extends "base.html" %}

<title> About us </title>


<h3> ARTiculate is a plaform where people can share their perspectives through Art bla bla bka </h3>

 <title> the team </title>

<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

 {% endblock %}
