{% extends "base.html" %}

{% block title %}
  Contact
{% endblock %}

<input type="text" name="inputBox" placeholder="enter your text here">

{% block content %}
<div class="container p-y-2">
<center><h1>contact</h1>
<form action="demo_form.asp">
<input type="text" name="name" placeholder="Full name"><br><br>
<input type="text" name="email" placeholder="Email"><br><br><br>
<input type="text" name="message" placeholder="Write your message here"><br>
<input type="submit" value="Submit">
</form></center>
</div>
{% endblock %}
