{% extends "base.html" %}
	<title>Articulate</title>
 <head>
}
}
<link rel="stylesheet" type="text/css" href=""{{ url_for('static', filename='static.css') }}"">
</head>
{% block content %}

	<div class="text-xs-center">
		<img src="{{ url_for('static', filename='logo.png') }}" class="text-xs-center" style="position: absolute; top:px; left: 200px;"/>
	</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div>
	<h2 style = "color: red" class="text-xs-center">Creating a better Artmosphere!</h2>
	 </div>
	 <br>

	<center><a class="btn btn-danger" href ="{{url_for('signup')}}">Sign up!</a><br></center><br>


	<center><button type="button" class="btn btn-danger" onclick = "window.location.href ='login'">Log In!</button><br></center>





{% endblock %}

