{% extends "picture_feed.html"}

{% block before_pictures %}

<div class="container-fluid">
	<div class="first p-y-1 ltr">
				<div class="row">
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon6.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon2.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon3.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon4.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon9.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon10.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'icon11.png')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
					<div class="col-md-1 col-sm-2">
						<a href="#"><img src="{{ url_for('static', filename= 'ori.jpg')}}" class="img-circle" alt="a topic" width="120" height="120"></a>
					</div>
				</div>
			</div>
		</div><hr>


{% endblock %}
