{% include "base.html" %}



{% block before_pictures %} {% endblock %}
<div class="container-fluid">
    <div class="row p-y-1">
      {% for post in posts %}
      <div class="col-md-4 col-xs-12">
        <div class="card">
          <img class="card-img-top img-fluid" src="{{ url_for('static', filename=post.file_name) }}" alt="Card image cap">
          <div class="card-block">
            <center>
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{post.description}}</p></center><br>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-danger-outline" data-toggle="modal" data-target="#myModal" style="background-color: white;">View comments</button>

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->

                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                          <div class="modal-body">
                            <!-- begin htmlcommentbox.com -->
                            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
                             <!-- <link rel="stylesheet" type="text/css" href="./static/skin.css" /> -->
                             <script type="text/javascript" language="javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={  };} (function(){s=document.createElement("script");s.setAttribute("type","text/javascript");s.setAttribute("src", "http://www.htmlcommentbox.com/jread?page="+escape((window.hcb_user && hcb_user.PAGE)||(""+window.location)).replace("+","%2B")+"&opts=470&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})();</script>
                            <!-- end htmlcommentbox.com -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
              var clicks = 0;
              function likeFun()
              {
                click += 1;
                document.getElementById("clicks").innerHTML = clicks;
              };
              </script>
              <button type="button" onClick="likeFun()" class="btn btn-danger-outline">Like</a></button><br>
              <font>{{post.likes}} users like this</font>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
