{% extends "picture_feed.html" %}

{% block css %}
      <link rel="stylesheet" type="text/css" href="/static/profile.css">
{% endblock %}

{% block before_pictures %}
<div class="container p-y-2">
<div class="first">
	<center>
			<img src="{{ url_for('static', filename='roni.jpg')}}" width="110px" height="130px" class="m-t-1 img">
			<h1>{{user.firstname}}'s profile!</h1><br>
			<p>{{user.bio}}</p>
	</center>
</div>


    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <a class="btn btn-danger m-b-1 btn-block" href="{{url_for('canvas') }}" role="button">Create a new ARTmosphere</a>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <a class="btn btn-danger btn-block m-b-1" href="{{url_for('upload') }}" role="button">Upload a new Photo</a>
        </div>
    </div>
  </div>



{% endblock %}

{% block after_photos %}

      <div class="text-xs-center">
        <h1>The user has no more photos!</h1>
      </div>
          <a class="nav-link" href="{{url_for('profile', name = name)}} ">Profile</a>

      <hr>
{% endblock %}