{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}

<title>Sign Up</title>
{%endblock%}
{%block navbar%}
{%endblock%}

{%block content%}

<h1> Sign Up Here! </h1>

{{ wtf.quick_form(form) }}
	Bio:
	<form>
	<textarea rows="4" cols="50">
		Brief Description
	</textarea>
	</form>
	<form action="upload.php" method="post" enctype="multipart/form-data">
    Upload a Profile Pic:
    <input type="file" name="fileToUpload" id="fileToUpload"><br>
    </form>
<input type="submit" value="Submit"><br><br>
{%endblock%}